<div class="container mt-4">
  <h1>Your Posts</h1>
  <% if @user_posts.any? %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Title</th>
          <th>Content</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @user_posts.each do |post| %>
          <tr>
            <td><%= post.title %></td>
            <td><%= truncate(post.content, length: 50) %></td>
            <td class="d-flex">
              <%= link_to 'Show', post_path(post), class: "btn btn-primary btn-sm" %>
              <%= link_to 'Edit', edit_post_path(post), class: "btn btn-secondary btn-sm" %>
              <%= button_to 'Delete', post_path(post), method: :delete, class: "btn btn-danger btn-sm" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>You have no posts.</p>
  <% end %>
</div>
